div.child {
    border-style: solid;
    border: 2px solid blueviolet
}

div.parent {
    border-style: solid;
    border: 2px solid blue
}

div.stranger {
    border-style: solid;
    border: 2px solid blue
}

